<launch>
 <group ns="robot_subscriber">
   <node name="subscriber" pkg="moveo6_client" type="subscriber" output="screen" respawn="true" respawn_delay="5" />
   <node name="joint_statel_listener" pkg="moveo6_client" type="joint_state_listener" output="screen" respawn="true" respawn_delay="5" />

 </group>
</launch>
